.heroSecction{
    position: absolute;
    z-index: -1;
    top: 0;
}

.videoBG {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    position: fixed;
}

.heroText {
    position: fixed;
    text-align: center;
    width: 100vw;
    margin-top: 50px;
}

.heroSlogan {
    color: #C88;
    font-size: 22pt;
    font-weight: bold;
}

.heroTitle {
    margin-top: 15px;
    color: #C88;
    font-size: 35pt;
    font-weight: bold;
    text-transform: uppercase;
}

.restaurantsSection {
    margin-top: 100vh;
    background-color: black;
    padding: 15px;
}

.CustomButton {
    position: absolute;
    top: calc(100vh - 100px);
    display: flex;
    width: 100vw;
    justify-content: center;
}