.cardContainer {
    background-color: #201515;
    border: 2pt solid #C88;
    height: 230px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 350px;
}


.cardImage {
    position: relative;
    display: block;
    width: 100%;
    height: 100px;
}

.cardTitle {
    text-align: center;
    font-size: 12pt;
    text-transform: uppercase;
}