.cardContainer {
    background-color: #201515;
    border: 2pt solid #C88;
    height: 200px;
    flex: 0 0 calc(33.33% - 50px);
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 400px) {
    .cardContainer {
        flex: 0 0 calc(50% - 20px);
    }
}

.cardImage {
    position: relative;
    display: block;
    width: 100%;
    height: 100px;
}

.cardTitle {
    text-align: center;
    font-size: 12pt;
    text-transform: uppercase;
}